/* line 7 */
img.lemonade {
  height: 320px;
  margin: -80px 110px -60px;
}

/* line 12 */
pre {
  padding: 20px !important;
}

/* line 16 */
.lemonade-intro {
  float: left;
  margin-right: 50px;
}
/* line 20 */
.lemonade-intro h1 {
  color: #008186;
  margin-left: 90px;
  text-align: right;
}
/* line 25 */
.lemonade-intro p {
  margin-left: 210px;
  text-align: justify;
  width: 300px;
}
/* line 30 */
.lemonade-intro pre {
  margin-left: 190px;
  width: 300px;
}

/* line 35 */
.lemonade-info {
  float: left;
  padding-top: 40px;
  text-transform: uppercase;
  width: 150px;
}
/* line 41 */
.lemonade-info h2 {
  background: url('/images/lemonade.png?1278510731') 55px 6px no-repeat;
  margin-top: 10px;
  padding-top: 10px;
}
/* line 46 */
.lemonade-info p,
.lemonade-info h2 {
  color: #00ac60;
  width: auto;
}

/* line 52 */
.lemonade-example {
  clear: both;
}
/* line 55 */
.lemonade-example img {
  background: url('/images/lemonade.png?1278510731') 0 -26px;
  margin: 0 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
}

/* line 61 */
.lemonade-before,
.lemonade-after {
  color: #00ac60;
}
/* line 65 */
.lemonade-before h2,
.lemonade-after h2 {
  margin-left: 20px;
}
/* line 68 */
.lemonade-before pre,
.lemonade-after pre {
  padding: 20px !important;
  width: 490px;
}

/* line 72 */
.lemonade-before:after {
  background: url('/images/lemonade.png?1278510731') 0 -218px;
  content: " ";
  display: block;
  height: 220px;
  margin: -61px 0 0 70px;
  position: absolute;
  width: 220px;
}

/* line 81 */
.lemonade-before:before {
  background: url('/images/lemonade.png?1278510731') 0 -438px;
  content: " ";
  display: block;
  height: 270px;
  margin: 10px 0 0 330px;
  position: absolute;
  width: 260px;
  z-index: 100;
}

/* line 91 */
.lemonade-after:before {
  background: url('/images/lemonade.png?1278510731') 0 -708px;
  content: " ";
  display: block;
  height: 290px;
  margin: -10px 0 0 280px;
  position: absolute;
  width: 210px;
  z-index: 100;
}

/* line 101 */
.lemonade-after {
  color: #008186;
  margin-left: 310px;
}

/* line 106 */
.lemonade-example-1 {
  background: url('/images/lemonade/example-1.png?1278510722') 20px 9px yellow no-repeat;
  padding: 5px 10px 5px 35px;
}

/* line 111 */
.lemonade-example-2-a-just-to-generate-the-sprite {
  background: url('/images/lemonade/example-2-a.png?1278510722') yellow no-repeat;
}

/* line 113 */
.lemonade-example-2-a {
  background: url('/images/lemonade/example-2-a.png?1278510722') 20px -21px yellow no-repeat;
  padding: 5px 10px 5px 35px;
}

/* line 117 */
.lemonade-example-2-b-just-to-generate-the-sprite {
  background: url('/images/lemonade/example-2-b.png?1278510722') yellow no-repeat;
}

/* line 119 */
.lemonade-example-2-b {
  background: url('/images/lemonade/example-2-b.png?1278510722') 20px -41px yellow no-repeat;
  padding: 5px 10px 5px 35px;
}
