@import "compass";
@import "compass/reset";
@import "config/colors";

@include reset-html5;

$baidu-grey: #efefef;

body {
  background: $grey;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#photography {
  background: image-url("beijing/background.png");
  left: 50%;
  height: 500px;
  margin: -340px 0 0 -520px;
  padding: 90px;
  position: absolute;
  top: 50%;
  width: 860px;
  z-index: 10;
  @include background-clip(padding-box);
  img {
    max-height: 500px;
    max-width: 500px;
    vertical-align: middle;
    @include box-shadow(rgba($grey, .3) 0 1px 15px);
  }
  figure {
    bottom: 80px;
    display: none;
    height: 520px;
    left: 80px;
    line-height: 520px;
    position: absolute;
    text-align: center;
    top: 80px;
    width: 500px;
  }
  figcaption {
    bottom: 60px;
    color: darken($grey, 20%);
    font-size: 35px;
    font-weight: 100;
    left: 560px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 300px;
    @include text-shadow(white 0 0 5px);
    span {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer a {
  background: image-url("beijing/nico-hagenburger.png");
  left: 50%;
  height: 90px;
  margin-left: 230px;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 11;
  @include hide-text;
}

.previous {
  background: rgba(white, .64);
  color: darken($grey, 20%);
  font-size: 35px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin-top: -40px;
  padding: 20px 5px 20px 0;
  outline: 10px rgba(white, .32) solid;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  width: 35px;
  @include transition(opacity, 1s);
  &:hover {
    background: rgba(white, .96);
    outline-color: rgba(white, .48);
  }
}

.next {
  @extend .previous;
  right: 0;
  padding: 20px 0 20px 5px;
}

#spinner {
  background: image-url("beijing/spinner.gif");
  left: 50%;
  height: 66px;
  margin: -33px 0 0 239px;
  position: absolute;
  top: 50%;
  width: 66px;
}

#map {
  bottom: 0;
  background: transparent !important;
  left: 0;
  position: absolute;
  right: -2 * 272px;
  top: 0;
}

#like {
  bottom: 0;
  background: image-url("beijing/facebook-like.png");
  left: 50%;
  height: 65px;
  margin-left: -100px;
  margin-left: 210px;
  padding: 17px 15px 7px;
  position: absolute;
  width: 90px;
  z-index: 11;
  @include hide-text;
  iframe {
    border: none;
    height: 65px;
    overflow: hidden;
    width: 90px;
  }
}

