$livingstyleguide--code-background-color: $white//$pink
$livingstyleguide--code-border-radius: 0
$livingstyleguide--code-color: $pink// scale-color($livingstyleguide--code-background-color, $lightness: 80%)
$livingstyleguide--code-font: monaco, courier, monospace
$livingstyleguide--code-font-size: 16px
$livingstyleguide--code-font-weight: normal
$livingstyleguide--code-line-height: 30px
$livingstyleguide--width: auto
$livingstyleguide--gap-width: 5px
$livingstyleguide--highlight-color: scale-color($pink, $lightness: 50%)
$livingstyleguide--highlight-border-radius: 3px

%livingstyleguide--reset
  display: block

@import "livingstyleguide/code"

.post
  .livingstyleguide--paragraph,
  .livingstyleguide--ordered-list,
  .livingstyleguide--unordered-list,
  .livingstyleguide--page-title,
  .livingstyleguide--headline,
  .livingstyleguide--sub-headline,
  .livingstyleguide--code-block,
  .info
    font-size: 20px
    line-height: 30px
    margin: 30px auto
    max-width: 700px
    width: auto
    -webkit-font-smoothing: antialiased

  .livingstyleguide--page-title
    font-size: 80px
    line-height: 90px
    text-align: center
    @include ellipsis
    white-space: normal
    @media all and (max-width: 840px)
      font-size: 40px
      line-height: 60px

  .livingstyleguide--headline,
  .livingstyleguide--sub-headline
    margin-top: 60px

  .livingstyleguide--headline
    font-size: 30px

  .livingstyleguide--code-block
    background: scale-color(#eef1f0, $lightness: 60%)
    font-size: $livingstyleguide--code-font-size
    padding: 20px 20px

  .livingstyleguide--code
    color: $livingstyleguide--code-color
    -webkit-font-smoothing: subpixel-antialiased

    > i
      color: $grey
      font-style: italic

    q,
    q *
      color: $blue

  .code--filter
    &,
    > b,
    > b em
      color: $livingstyleguide--code-color !important

    q,
    q *
      color: $turquoise !important

  .livingstyleguide--paragraph,
  .livingstyleguide--unordered-list-item,
  .livingstyleguide--ordered-list-item
    .livingstyleguide--code
      color: inherit
      white-space: normal

  .livingstyleguide--unordered-list-item,
  .livingstyleguide--ordered-list-item
    font-size: inherit
    line-height: inherit

  .info
    position: relative

  .info--text
    color: scale-color($grey, $lightness: 50%)
    position: absolute
    right: 0
    top: 20px
    @media all and (max-width: 740px)
      position: relative
      text-align: right

