- @date = Time.mktime(2009, 6, 3)
- @description = 'Slides: Best practices to design your Twitter profile. Avatar, background image, information, username.'
%article.post
  %h1= @title = 'Designing Twitter profiles (German)'
  %p
    For Gemany’s monthly corporate twitter event #{ link 'Twittwoch', 'http://www.twittwoch.de/blog/2009/05/20/twittwoch-berlin-twb-am-3-juni-ab-19-uhr' } I made a presentation about designing twitter profiles. Currently it’s available in German only.
  = slideshare '090603-twittwoch-profilgestaltung-090603093531-phpapp01'
