- @title = 'How to Get to Baku? (And How to Get Back?)'
- @date = Time.mktime(2009, 4, 6)
- @description = 'I had an awesome trip to Azerbaijan and a lot of fun with Aeroflot.'
%article.post(data-slug="barcamp-caspian-baku-azerbaijan")
  %h1
    How to Get to Baku?
    %br
    (And How to Get Back?)
  :markdown
    Baku. Capital of Azerbaijan. Home of Barcamp Caspian.

    When I first heard of the barcamp, I didn’t hesitate to decide: I must go there. For me another unknown country—I try to explore at least one new country every year. For the last year it was Latvia, this year it should be Azerbaijan. Hopefully.

    #{ figure 'barcamp-caspian-baku-azerbaijan.png', 'Barcamp Caspian logo/Baku Azerbaijan' }

    ## How to get to Baku?

    It was Tuesday. Three days to the opening party of Barcamp Caspian. I finally decided to go there. A few hours later my passport proved not to be valid any more. OK. What could be done? For Azerbaijan you need a visa, for a visa you need a passport.

    Let’s try Google. I found out: there’s a “temporary passport” and a “quick passport”. You’ll get the “quick passport” within some days (“some” maybe more than three—too long for me). The “temporary passport” will take less than an hour. Nice :) But you need “some reason” to get it. A valid flight ticket and an official invitation are “some reasons”.

    But will the Azeris accept a temporary passport? I inquired about it at (the German) ministry of foreign affairs. “Don’t know.” I phoned the Azeri embassy. “What? Don’t know.” Finally I recieved an e-mail from the German embassy in Baku. “We know some some guys. Yes, it will work.” Yeah. Let’s go.

    To get a temporary passport (DE: “vorläufiger Reisepass”), you need to buy the ticket first und must have an invitation. OK. The 1st website to book the flight had internal server errors. The 2nd one worked as expected. So I hurried to the town hall and one hour later I got all the documents! The flight was easy, Moscow airport smoky and the Azeri police friendly when issuing the visa.

    ## Barcamp Caspian

    When I left the airport, the great service of the Barcamp Caspian organization team started: they picked me up. Later we walked through the old city of Baku—OK, they talked a little bit too much russian, so I kept my eyes open and enjoyed the town. In the evening, we had an [awesome opening party](http://www.barcampcaspian.org/en/2009/03/28/openning-party/). Everyone was dancing, talking and open-minded to new people. The party climaxed when they played [Moscow never sleeps](http://www.youtube.com/watch?v=KPRxoncWiSA) and the Caucasian song [Lezginka](http://www.youtube.com/watch?v=BriVcxwq4rI).

    The next day we went to Qafqaz Universiteti where the sessions took place. Most of the presentations are linked on the [official Barcamp Caspian blog](http://www.barcampcaspian.org/en/2009/03/29/presentations/). I’ve reported about it on the German blog of [13. Stock Online Relations](http://blog.13stock.de/2009/04/das-barcamp-caspian-in-baku/).

    #{ figure 'bild-20.png', 'Attendees of the Barcamp Caspian in Baku/Azerbaijan' }

    We learned a lot about Delta Telecom, Google and Opera the next day. And a lot more about people and foreign countries while making small talk. I’ve pleasure to welcome all new friends from Azerbaijan, Russia, Ukraine, Belarus, Turkey, Spain, Estonia, Kazakhstan and Kyrgyzstan—in real life as well as on [Facebook](http://www.facebook.com/profile.php?id=799643507).

    ## And how to get back?

    My return was difficult. Two ladies at the airport were hacking the computer for half an hour to get my boarding pass. I didn’t know the problem. They didn’t inform me. So time ran by and they were talking in unknown languages and all my friends had already passed the passport control. I was allowed to pass about 20 minutes later. Without a boarding pass.

    Next stop Moscow. Same procedure as before. “Your boarding pass?”—“They did’t gave me.”—“Please look in your bag.”—“They did’t gave me.”—“Please look in your bag.”—“They did’t gave me.”—“My computer tells me they printed it at 2 pm.”—“They did’t gave me.”—“OK, have you got a luggage pass?”—“Here you are.”

    15 minutes later, after several Russian phone calls, she was so kind to me and printed out my boarding pass to Berlin.

    I really had a cool time in Baku—thanks to the perfect organization and thanks to Aeroflot for the entertainment :)
  