- @date = Time.mktime(2008, 10, 7)
- @lang = 'de'
- @description = 'Tipps to design an imprint for German websites by the minister of justice'
%article.post
  %h1= @title = 'Impressums-Leitfaden vom Bundesministerium der Justiz'
  :markdown
    Das [deutsche Bundesministerium der Justiz](http://www.bmj.de) hat [heute](http://www.bmj.de/musterimpressum) einen Leitfaden mit Tipps und Hinweisen für die „Anbieterkennenung“ – so der offizielle Sprachgebrauch für ein Impressum auf einer Website – [online als PDF veröffentlicht](http://www.bmj.de/files/-/3283/Allgemeine%20Hinweise%20zur%20Anbieterkennzeichnungspflicht%20im%20Internet.pdf).

    Das Dokument hat acht Seiten und zeigt damit schon, wie komplex die Materie ist. Auf Seite fünf wird z. B. hingewiesen, „Gehen Sie auf Nummer sicher. Geben Sie eine erreichbare **Telefonnummer** und Ihre **E-Mail-Adresse** an.“ Auch, wenn der Leitfaden vom Justizministerium kommt, sollte man bedenken, dass **dieser keine normative Kraft hat**. Es werden aber auch Urteile angemerkt: „Der Bundesgerichtshof hat es als unschädlich erachtet, dass eine Anbieterkennzeichnung mit **‚Kontakt‘** und **‚Impressum‘** bezeichnet war.“ Der [Hinweis auf das Urteil](http://www.kremer-legal.com/2006/10/29/bgh-mit-zwei-klicks-erreichbares-impressum-genugt/) fehlt allerdings.

    In der Vergangenheit hat es öfters Klagen bzw. Abmahnungen bei einem unzureichenden Impressum gegeben. Anscheinend ist eine Branche von Abmahnanwälten entstanden. „Gerade kleine und mittlere Unternehmen, die Waren und Dienste im Internet anbieten, sollen zukünftig auf einen Blick erkennen können, was sie bei der Selbstauskunft nach dem Telemediengesetz zu beachten haben, um die in diesem Bereich oft vorkommenden Abmahnungen zu vermeiden“ meint die Bundesjustizministerin  [Brigitte Zypries](http://de.wikipedia.org/wiki/Brigitte_Zypries) (SPD).

    Laut Leitfaden kann eine fehlerhafte oder unterlassene Anbieterkennzeichung mit einem Ordnungsgeld von bis zu 50.000 € geahndet werden. **Der Leitfaden sollte jedoch nicht als rechtsverbindliche Quelle benutzt werden!** Was zum Schluss zählt, ist das Urteil des Richters.

    [Leitfaden als PDF öffenen](http://www.bmj.de/files/-/3283/Allgemeine%20Hinweise%20zur%20Anbieterkennzeichnungspflicht%20im%20Internet.pdf) (direkt auf www.bmj.de)