- @date = Time.mktime(2008, 10, 9)
- @lang = 'de'
- @description = 'I started a private blog about Berlin and its public transport systems'
%article.post
  %h1= @title = 'Mein neues Blog: Das Stadtbahn-Blog'
  :markdown
    Da ich schon seit 端ber einem Jahr mit direktem Blick auf die [Berliner Stadtbahn](http://www.stadtbahn-blog.de) arbeite, habe ich zusammen mit Stefan ein [neues Blog](http://www.stadtbahn-blog.de/2008-10/willkommen-beim-stadtbahn-blog) aufgesetzt. Hier werden wir 端ber unsere kleine Liebe zu Stadtbahn, S-Bahn und U-Bahn und nat端rlich Berlin schreiben. Im Design habe ich es an die S-Bahnstation Unter den Linden sowie die U-Bahnstation Jannowitzbr端cke gehalten.
  = figure 'stadtbahn-blog-berlin-logo-wordpress.png', 'Logo vom Stadtbahn-Blog Berlin'
    