- @date = Time.mktime(2007, 7, 23)
- @lang = 'de'
- @description = 'German bureaucracy discovers the Internet.'
%article.post
  %h1= @title = 'Schon mal eine Umsatzsteuer-Identifikationsnummer beantragt?'
  :markdown
    Nachdem ich schon oft über die Bemühungen des Staates gehört habe, alle Formulare online zugänglich zu machen, wollte ich es auch probieren. Schauen wir doch mal, was Vater Staat in Sachen Barrierefreiheit macht. Vielleicht kann man noch was lernen.

    Aber erst mal in Erinnerungen schwelgen. Wie war das früher? 2003 wollte ich auch eine Umsatzsteuer-Identifikationsnummer (nur korrekt mit Bindestrich) beantragen. Mein zuständiges Finanzamt hat mir freundlicherweise eine Direktdurchwahl beim Bundeszentralamt für Steuern Dienstsitz Saarlouis gegeben. Anruf, kurz warten, ich hatte meine Umsatzsteuer-Identifikationsnummer (nur korrekt mit Bindestrich). Wow, hätte ich nicht erwartet.

    #{ blog_img 'blog-ust-idnr.png', 'Antrag zur Umsatzsteuer-Identifikationsnummer' }

    Und heute? Das Formular im Web hatte ich bereits gefunden. Aber es funktioniert nur, wenn man mit dem korrekten Link auf das Formular kommt. Barriere 1. Aussehen wie ein Web-Formular tut es nicht. Barriere 2. Ich kann nicht in den Feldern schreiben. Irgendwann bemerke ich, dass es missglückte Drop-Down-Felder sind. Barriere 3. Diese wurden wohl nicht so gut in Safari getestet. Barriere 4.

    OK, dann halt Firefox. Beim Eintrag des Firmennamens kommt ein JavaScript-Pop-Up. Nervtötend, aber nicht unbedingt eine Barriere. Als ich fertig bin, kommt das Pop-Up wieder. Ich klicke auf OK, es setzt den Fokus in das Feld, was wieder das Pop-Up auslöst. Endlosschleife. Browser-Absturz. Barriere 5.

    OK, nochmal Safari, Sicherheitseinstellungen etwas niedriger. Es scheint alles zu klappen, das Pop-Up nervt mich nur einmal. Seite 2, bestätigen. Die gleiche Seite kommt wieder. Keine Rückmeldung, ob es erfolgreich war. Barriere 6.

    Übrigens habe ich das Formular (standardmäßig) im barrierefreien Modus gestartet. Den kann man auch abschalten. Oder anders ausgedrückt: Man kann neue Barrieren manuell hinzufügen.
    