- @date = Time.mktime(2009, 2, 28)
- @lang = 'de'
- @description = 'Logo drafts for the “Social-Media-Camp” and the “bracamp”'
%article.post
  %h1= @title = 'Social-Media-Camp vs. bracamp'
  :markdown
    Gestern stellte ich den Entwurf für das **Logo** für das **[Social-Media-Camp](http://www.socialmedia-camp.de/)** von Oliver Berger ([13. Stock Online Relations](http://blog.13stock.de)) vor.

    #{ article_img 'logo-social-media-camp.png', 'Logo vom Social-Media-Camp ’09' }

    Oliver fragte auch gleich nach **Meinungen** dazu. @annekrabbe meinte:
    >   @Hagenburger Verwechslungsgefahr mit: Kleines Monster oder Kölner Dom (inkl. Rhein im Vordergrund) #logo #social-media-camp

    Nun ja, bin ja kein Kölner. Eine andere sehr interessante Meinung hatte @gigold:

    >   @OliverBerger Mein erster Gedanke war eine Flamme mit BH :o)

    Worauf Oliver die schöne Wortschöpfung **„bracamp“** kreierte:
    >   @gigold Das mit dem BH ist lustig. Vielleicht sollte man es als Logo fuer das #bracamp weiternutzen. Mir gefaellt es nach wie vor. #smc09

    Da möchte ich natürlich klarstellen, dass ein **„bracamp“-Logo** deutlich anders aussehen würde:

    #{ article_img 'bracamp-logo.png', 'Logo vom „bracamp“' }