.layout.-blog,
  background: $white !important
  height: auto
  padding-top: 20px

  .layout--header
    background: $white !important
    margin-top: 200px

  .layout--footer
    background-image: image-url("footer-blog.png")
    padding-top: 100px

  article
    max-width: 740px
    padding: 0 10px
    width: auto

  .posts .like,
  .posts #like,
  .post .like,
  .post #like
    margin: 20px 0
    width: 660px
    @media all and (max-width: 840px)
      display: none

  @media all and (max-width: 840px)
    .layout--header
      display: none

    .layout--content
      margin-bottom: -150px


.blog-livingstyleguide-2
  .layout
    background: $white image-url("livingstyleguide-header.svg") 50% 0 no-repeat !important
    padding-top: 448px

  h1
    color: #d0146d


.blog-handlebars-js-templates-living-style-guide
  .layout
    background: $white image-url("../BLOG/2014-04-29/background.svg") 50% 50px no-repeat !important
    background-size: 350px !important
    padding-top: 450px

  h1
    color: #d0146d

