.layout.-blog,
  background: $white !important
  height: auto
  padding-top: 20px

  .layout--header
    background: $white !important
    margin-top: 200px

  .layout--footer
    background-image: image-url("footer-blog.png")
    padding-top: 100px


.blog-livingstyleguide-2
  .layout
    background: $white image-url("livingstyleguide-header.svg") 50% 0 no-repeat !important
    padding-top: 448px

  h1
    color: #d0146d

