#comments
  margin: 3 * $line-height auto
  width: 420px
  table
    background: transparent
    border: 0
  #dsq-content .dsq-login-buttons,
  #dsq-content .dsq-options,
  #dsq-content .dsq-comment-header
    background: transparent
  .dsq-comment-footer-right
    display: block
    text-align: center
  h3
    @include margin-bottom
  #dsq-content .dsq-header-avatar a.dsq-avatar,
  #dsq-content .dsq-comment:hover .dsq-header-avatar a.dsq-avatar,
  #dsq-content .dsq-comment:hover .dsq-header-avatar:hover a.dsq-avatar
    background: transparent
    border: 0
    border-bottom: 0
    padding: 0 !important
    @include border-radius(0)
  #dsq-content .dsq-header-avatar img
    border: 0
    vertical-align: bottom
  .dsq-dc-logo
    display: none
  .dsq-subscribe-email
    margin-right: 5px !important
    img
      position: relative
      top: -4px
  .dsq-subscribe-rss
    margin-right: 0 !important
    vertical-align: baseline !important
    img
      position: relative
      top: 1px
  #dsq-content .dsq-comment-header-meta
    padding: 5px 5px 3px 10px
  .dsq-comment
    @include margin-bottom(2)
  #dsq-content .dsq-subscribe-menu
    margin-top: 3px
    white-space: nowrap
    label
      font-size: 12px
  #dsq-content .dsq-textarea textarea,
  #dsq-content .dsq-post-fields input
    font-size: 14px
  pre
    overflow-x: auto
    padding: 20px
    