- @title = 'Blog'
- @description = 'This is the blog of Nico Hagenburger—a Berlin based Web designer and Ruby developer who fell in love with frontend engeniering, Haml and Sass.'
%article.posts
  %h1 Blog
  - blog "BLOG" do |post|
    %h2<
      %a{ :href => post.permalink, :title => post.description }>&= post.title
    %p&= post.description
  