- @title = "Kino International/EuRuKo Berlin 2011"
%article.images
  %h1 Kino International Berlin
  %p
    Preparations for the
    %a(href="http://euruko2011.org") EuRuKo 2011 Berlin
  %iframe#like(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hagenburger.net%2FPHOTOGRAPHY%2Fkino-international-euruko.html&amp;layout=box_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=dark&amp;height=65" scrolling="no" frameborder="0" allowTransparency="true")
  %ul
    - Dir.glob File.dirname('__FILE__') + '/public/images/kino-international-euruko/*.jpg' do |image|
      %li
        %img(src="../images/kino-international-euruko/#{File.basename(image)}")
  %iframe#like(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hagenburger.net%2FPHOTOGRAPHY%2Fkino-international-euruko.html&amp;layout=box_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=dark&amp;height=65" scrolling="no" frameborder="0" allowTransparency="true")
