---
title: 3 Types of EuRuKo T-shirts
---

%article.images
  %h1 3 Types of EuRuKo T-shirts
  %p
    Ever wondered about the different t-shirts at the
    <a href="http://euruko2011.org">EuRuKo 2011 Berlin</a>?
    Here’s why:
  %ul
    - Dir.glob File.dirname('__FILE__') + '/source/images/3-types-of-euruko-t-shirts/*.jpg' do |image|
      %li
        %img(src="../images/3-types-of-euruko-t-shirts/#{File.basename(image)}")
  = facebook_like
  %p
    Don’t forget to check the
    <a href="euruko-t-shirts.html">making of</a>
    and the
    <a href="kino-international-euruko.html">backstage photos of the EuRuKo</a>!
