---
layout: beijing
title: Beijing 北京 Photography
og_title: Beijing Photography
og_image: beijing/beijing.jpg
description: Photos mady on my trip to Beijing, China, in 2010. Made with HTML5 and Baidu 3D Maps. Enjoy.
---

#spinner
#map
%a.previous(href="#") &lt;
%a.next(href="#") &gt;
#photography
  %figure(data-lng="116.396069" data-lat="39.932517")
    %img(src="beijing/white-dagoba.jpg" alt="White Dagoba · 白塔寺")
    %figcaption
      White Dagoba
      %span(lang="zh-CN") 白塔寺
  %figure(data-lng="116.396322" data-lat="39.931076")
    %img(src="beijing/qionghua.jpg" alt="Qiónghuá · 琼华")
    %figcaption
      Qiónghuá
      %span(lang="zh-CN")  北海公園
  %figure(data-lng="116.40341" data-lat="39.921715")
    %img(src="beijing/forbidden-city.jpg" alt="Forbidden City · 紫禁城")
    %figcaption
      Forbidden City
      %span(lang="zh-CN") 紫禁城
  %figure(data-lng="116.402971" data-lat="39.92363")
    %img(src="beijing/details.jpg" alt="Details · 細節")
    %figcaption
      Details
      %span(lang="zh-CN") 細節
  %figure(data-lng="116.403959" data-lat="39.924757")
    %img(src="beijing/tourists.jpg" alt="Tourists · 遊客")
    %figcaption
      Tourists
      %span(lang="zh-CN") 遊客
  %figure(data-lng="116.404103" data-lat="39.918283")
    %img(src="beijing/strange.jpg" alt="Strange · 奇怪")
    %figcaption
      Strange
      %span(lang="zh-CN") 奇怪
  %figure(data-lng="116.406492" data-lat="39.913164")
    %img(src="beijing/military-tree.jpg" alt="Military Tree · 樹")
    %figcaption
      Military Tree
      %span(lang="zh-CN") 樹
  %figure(data-lng="116.403635" data-lat="39.912929")
    %img(src="beijing/policeman.jpg" alt="Policeman · 警察")
    %figcaption
      Policeman
      %span(lang="zh-CN") 警察
  %figure(data-lng="116.414177" data-lat="39.921548")
    %img(src="beijing/phone.jpg" alt="Phone · 電話")
    %figcaption
      Phone
      %span(lang="zh-CN") 電話
  %figure(data-lng="116.417796" data-lat="39.92201")
    %img(src="beijing/light.jpg" alt="Light · 光")
    %figcaption
      Light
      %span(lang="zh-CN") 光
  %figure(data-lng="116.42449" data-lat="39.914527")
    %img(src="beijing/subway.jpg" alt="Subway · 地鐵")
    %figcaption
      Subway
      %span(lang="zh-CN") 地鐵
  %figure(data-lng="116.421428" data-lat="39.889608")
    %img(src="beijing/angry.jpg" alt="Angry · 憤怒")
    %figcaption
      Angry
      %span(lang="zh-CN") 憤怒
  %figure(data-lng="116.421" data-lat="39.889498")
    %img(src="beijing/baby.jpg" alt="Baby · 嬰兒")
    %figcaption
      Baby
      %span(lang="zh-CN") 嬰兒
  %figure(data-lng="116.420926" data-lat="39.889112")
    %img(src="beijing/dancing.jpg" alt="Dancing · 跳舞")
    %figcaption
      Dancing
      %span(lang="zh-CN") 跳舞
  %figure(data-lng="116.418978" data-lat="39.889954")
    %img(src="beijing/temple-of-heaven.jpg" alt="Temple of Heaven · 天壇")
    %figcaption
      Temple of Heaven
      %span(lang="zh-CN") 天壇
  %figure(data-lng="116.418978" data-lat="39.889954")
    %img(src="beijing/altar.jpg" alt="Altar · 祭壇")
    %figcaption
      Altar
      %span(lang="zh-CN") 祭壇
  %figure(data-lng="116.418978" data-lat="39.889954")
    %img(src="beijing/pillar.jpg" alt="Pillar · 支柱")
    %figcaption
      Pillar
      %span(lang="zh-CN") 支柱
  %figure(data-lng="116.419368" data-lat="39.890036")
    %img(src="beijing/roof.jpg" alt="Roof · 屋頂")
    %figcaption
      Roof
      %span(lang="zh-CN") 屋頂
  %figure(data-lng="116.418978" data-lat="39.889954")
    %img(src="beijing/inside.jpg" alt="Inside · 裡面")
    %figcaption
      Inside
      %span(lang="zh-CN") 裡面
  %figure(data-lng="116.439563" data-lat="39.888725")
    %img(src="beijing/donald-duck.jpg" alt="Donald Duck · 唐老鴨")
    %figcaption
      Donald Duck
      %span(lang="zh-CN") 唐老鴨
  %figure(data-lng="116.438614" data-lat="39.889521")
    %img(src="beijing/bicycle.jpg" alt="Bicycle · 自行車")
    %figcaption
      Bicycle
      %span(lang="zh-CN") 自行車
  %figure(data-lng="116.402677" data-lat="39.997973")
    %img(src="beijing/olympic-stadion.jpg" alt="Olympic Stadion · 奧林匹克體育場")
    %figcaption
      Olympic Stadion
      %span(lang="zh-CN") 奧林匹克體育場
  %figure(data-lng="116.402087" data-lat="39.997285")
    %img(src="beijing/seats.jpg" alt="Seats · 席")
    %figcaption
      Seats
      %span(lang="zh-CN") 席
  %figure(data-lng="116.401653" data-lat="39.996939")
    %img(src="beijing/lamp.jpg" alt="Lamp · 燈")
    %figcaption
      Lamp
      %span(lang="zh-CN") 燈
  %figure(data-lng="116.39791" data-lat="39.997631")
    %img(src="beijing/swimming-pool.jpg" alt="Swimming Pool · 室內游泳池")
    %figcaption
      Swimming Pool
      %span(lang="zh-CN") 室內游泳池
  %figure(data-lng="116.398555" data-lat="40.007999")
    %img(src="beijing/fish.jpg" alt="Fish · 魚")
    %figcaption
      Fish
      %span(lang="zh-CN") 魚
  %figure(data-lng="116.280058" data-lat="40.006436")
    %img(src="beijing/summer-palace.jpg" alt="Summer Palace/Yihe Yuan · 頤和園")
    %figcaption
      Yihe Yuan
      %span(lang="zh-CN") 頤和園
%iframe#like(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hagenburger.net%2FPHOTOGRAPHY%2Fbeijing.html&amp;layout=box_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=dark&amp;height=65" scrolling="no" frameborder="0" allowTransparency="true")
