---
title: Making Of: EuRuKo T-shirts
---

%article.images
  %h1 Making Of: EuRuKo T-shirts
  %p
    At the printing agency to inspect the EuRuKo 2011 Berlin t-shirts.
  %p
    Check out the
    %a(href="3-types-of-euruko-t-shirts.html") final EuRuKo t-shirts
    and the DHH special edition.
  = facebook_like
  %ul
    - Dir.glob File.dirname('__FILE__') + '/source/images/euruko-t-shirts/*.jpg' do |image|
      %li
        %img(src="../images/euruko-t-shirts/#{File.basename(image)}")
  %p
    Check out the
    %a(href="3-types-of-euruko-t-shirts.html") final EuRuKo t-shirts
    and the DHH special edition.
  = facebook_like
