- @title = "Making Of: EuRuKo T-shirts"
%article.images
  %h1 Making Of: EuRuKo T-shirts
  %p
    At the printing agency to inspect the EuRuKo 2011 Berlin t-shirts.
  %p
    Check out the
    %a(href="3-types-of-euruko-t-shirts.html") final EuRuKo t-shirts
    and the DHH special edition.
  %iframe#like(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hagenburger.net%2FPHOTOGRAPHY%euruko-t-shirts.html&amp;layout=box_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=dark&amp;height=65" scrolling="no" frameborder="0" allowTransparency="true")
  %ul
    - Dir.glob File.dirname('__FILE__') + '/public/images/euruko-t-shirts/*.jpg' do |image|
      %li
        %img(src="../images/euruko-t-shirts/#{File.basename(image)}")
  %p
    Check out the
    %a(href="3-types-of-euruko-t-shirts.html") final EuRuKo t-shirts
    and the DHH special edition.
  %iframe#like(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hagenburger.net%2FPHOTOGRAPHY%euruko-t-shirts.html&amp;layout=box_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=dark&amp;height=65" scrolling="no" frameborder="0" allowTransparency="true")
