- @title = "Kino International/EuRuKo Berlin 2011"
%article.images
  %h1 Kino International Berlin
  %p
    Preparations for the
    %a(href="http://euruko2011.org") EuRuKo 2011 Berlin
  = facebook_like
  %ul
    - Dir.glob File.dirname('__FILE__') + '/source/images/kino-international-euruko/*.jpg' do |image|
      %li
        %img(src="../images/kino-international-euruko/#{File.basename(image)}")
  = facebook_like
