@import redgreengrid/redgreengrid
@import redgreengrid/fonts/20/helvetica

@include rgg-development

@mixin normal
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif

article p,
article li,
dt, dd,
h4, h5, h6,
footer,
nav,
.more,
#portfolio,
header div,
time,
td,
th,
label,
input,
textarea,
select,
figcaption,
.comments p,
.author,
.dsq-options,
#dsq-content-stub
  @include helvetica-13
  @include normal
  font-weight: lighter
  font-size: 14px

h2,
h3,
#twitter
  @include helvetica-16
  @include normal
  bottom: 1px
  font-size: 16px

h1,
#welcome p,
h2:before,
#portfolio:before,
article div h2,
#phone,
body:before
  +helvetica-37
  +normal
  bottom: -2px
  font-weight: bold
  font-size: 35px

#welcome p
  font-weight: 200

@mixin monospace
  font-family: "Courier New", Courier, monospace

pre
  line-height: 20px
  font-size: 12px
  @include monospace

code
  @include monospace
