!!! XML
%rss(version="2.0")
  %channel
    %title Nico Hagenburger
    %link http://www.hagenburger.net
    %description I’m Nico Hagenburger. I’m doing websites with Ruby on Rails, HTML5, Haml and Sass.
    %lastBuildDate= @last_build_date || Time.now
    %generator Staticmatic fork by Nico Hagenburger
    %language en
    = yield