- @title = 'Say hello'
- @description = 'Contact me if you need help with your Web project—I’m waiting for you.'
%article.page
  #contact
    = image_tag 'contact.png', :alt => 'Nico Hagenburger: e-mail address, twitter, blog'
    = image_tag 'iphone.png', :alt => 'iPhone with phone number'
    %h2#social-media Nico Around the Web
    %ul
      %li
        %a(href="http://www.hagenburger.net")><
          %span www.
          %span><
            hagenburger
            %span> .net
      %li
        %a(href="http://hagenburger.bit.ly")><
          %span
          %span><
            hagenburger
            %span><
              \.
              %strong> bit.ly
      %li
        %a(href="http://www.facebook.com/hagenburger")><
          %span><
            %strong><
              facebook
            \.com/
          hagenburger
      %li
        %a(href="http://twitter.com/hagenburger")><
          %span><
            %strong><
              twitter
            \.com/
          %span><
            hagenburger
            %span.follow>&= "<<< follow me here"
      %li
        %a(href="http://www.xing.to/hagenburger")><
          %span><
            %strong><
              xing
            \.to/
          hagenburger
      %li
        %a(href="http://www.linkedin.com/in/hagenburger")><
          %span><
            %strong><
              linkedin
            \.com/in/
          hagenburger
      %li
        %a(href="http://www.slideshare.net/hagenburger")><
          %span><
            %strong><
              slideshare
            \.com/
          hagenburger
      %li
        %a(href="http://www.flickr.com/hagenburger")><
          %span><
            %strong><
              flickr
            \.com/
          hagenburger
      %li
        %a(href="https://github.com/hagenburger")><
          %span><
            %strong><
              github
            \.com/
          %span><
            hagenburger
            %span.follow>&= "<<< fork me there"
      %li
        %a(href="http://dribbble.com/hagenburger")><
          %span><
            %strong><
              dribbble
            \.com/
          %span><
            hagenburger
  #imprint
    %h2 Imprint/Impressum
    %dl
      %dt Address/Anschrift
      %dd Hagenburger GmbH, Boxhagener Straße 117, 10245 Berlin, Germany
      %dt Executive director/Geschäftsführer
      %dd Nico Hagenburger
      %dt Register
      %dd Amtsgericht Charlottenburg, HRB 107726 B
      %dt EU Vat ID/Umsatzsteuer-Identifikationsnummer
      %dd DE255468709
      %dt Place of jurisdiction/Gerichtsstand
      %dd Berlin, Germany
